
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Shoping Site</title>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/imgstyles.css" rel="stylesheet" />
    <style type="text/css">
        .img-size {
            width: 175px;
            height: 175px;
        }
    </style>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />



</head>
<body id="wow" style="background-color: white; ">
    <div class="loader"></div>
    @* mynav bar *@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyShoppingApp", "Index", "Browse", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="item"><a href="@Url.Action("Index", "Browse")">Home</a></li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add Data <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li>@Html.ActionLink("AddCategory", "Index", "Categories")</li>
                                <li>@Html.ActionLink("AddProduct", "Index", "Products")</li>
                                <li>@Html.ActionLink("AddFeature", "Index", "Features")</li>
                                <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                                <li>@Html.ActionLink("OrderDetails", "Index", "OrderDetails")</li>


                            </ul>
                        </li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("ShowCartItems", "Browse")">
                            Cart
                            <span class="badge">
                                @{
                                    Html.RenderAction("CartCountProduct", "Browse");
                                }
                            </span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="item"><a href="@Url.Action("Login", "Admin")">AdminPanel</a></li>
                            <li><a href="/elmah">ExceptionsDetailReport</a></li>
                            <li><a href="http://fb.com">Our blog</a></li>
                            <li><a href="http://fb.com">Facebook page</a></li>

                            <li class="divider"></li>
                            <li><a href="http://fb.com">feedback</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <br /><br /><br /><br /><br />
    @* my navbar ends *@
    <div class="container">


        <div class="row">
            <div class="col-md-3">

                <h5>@{ Html.RenderAction("Categories", "Browse"); }</h5>

                <img class="wobble" src="~/images/24.jpg" width="250" /><hr />
                <img class="wobble" src="~/images/21.jpg" width="250" />
            </div>
            <div class="loadajax" id="main" style="background-color:white; display:none;color:purple;"></div>
            <div class="col-md-9 " id="updateArea">
                @RenderBody()
            </div>
        </div>

    </div>
    <br />
    <div class="panel-footer">

        <p>&copy; AbdullahSohailYaqoob | Privacy | Terms</p>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("fast");
        })
    </script>

</body>
</html>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
@*<script src="~/Scripts/toastr.js"></script>*@